body {
  font-family: josefin sans;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}

.card {
  width: 270px;
  height: 480px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  position: relative;
}

.image-container {
  position: relative;
  padding: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  margin-top: 35px;
}

.header {
  display: flex;
  padding: 10px;
  position: relative;
  top: 10px;
  left: 0px;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .header {
  opacity: 1;
}

.header i {
  margin: 0 5px;
  background: linear-gradient(to right, #1389ff, #1db4e7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.header i:hover {
  background: #2f1ac4;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-container {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none; /* Initially hidden */
}

.image-container:hover .button-container {
  display: block; /* Show button on hover */
}

.button-container button {
  background-color: #08d15f;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.footer {
  position: relative;
  /* background-color: #ffffff; */
  padding: 5px;
  bottom: 25px;
  transition: background-color 0.3s;
}

.footer .product-name {
  font-size: 18px;
  color: #fb2e86;
  margin: 5px 0;
}

.footer .product-code {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.footer .product-code .blue,
.yellow,
.pink {
  width: 14px;
  height: 4px;
  border-radius: 25px;
}
.footer .product-code .blue {
  background-color: #05e6b7;
}
.footer .product-code .yellow {
  background-color: #f701a8;
}

.footer .product-code .pink {
  background-color: #ffeac1;
}

.footer .code p {
  position: relative;
  margin: 20px 0;
  font-size: 18px;
  color: #151875;
}

.footer .price {
  font-size: 14px;
  margin-top: 20px;
  color: #151875;
}
.footer:hover {
  background-color: #2f1ac4;
}
.footer:hover .product-name,
.footer:hover .product-code,
.footer:hover .code p,
.footer:hover .price {
  color: white; /* Change text color to white upon hover */
}
